on: [push]

jobs:
  dorametrix:
    runs-on: ubuntu-latest
    name: Dorametrix
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GitHub Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push image to GitHub Container Registry
        uses: docker/build-push-action@v3
        with:
          context: ./
          tags: ghcr.io/mikaelvesavuori/dorametrix-pipe:1.0.1
          push: ${{ github.ref == 'refs/heads/main' }}